.covenant-menu-container{
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.covenant-menu-item{
  display: inline-block;
  padding: 30px;
}

.covenant-menu-image{
  display: inline;
  height: 100px;
  border-radius: 5px;
}

.covenant-menu-text{
  font-size: 20px;
}

@layer utilities {
  @variants responsive {
    .covenant-menu-container-mobile{
      height: auto;
      display: block;
    }

    .covenant-menu-item-mobile {
      display: block;
    }
  }
  @variants hover, focus {
      .filter-grayscale {
        filter: grayscale(100%);
      }
  }
}